force-app/main/default/flows/Flow_to_Get_Salesforce_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Org_Base_Url</name>
        <label>Get Org Base Url</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_URLs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>varT_baseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_accountFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Flow to Get Salesforce URLs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Get Salesforce URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Base_Url</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ammu Test1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_URLs</name>
        <label>Display URLs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_URLs</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Based URL&lt;/strong&gt; -{!varT_baseURL}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Record Full URL&lt;/strong&gt; -{!varT_accountFullUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varT_accountFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_baseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
