force-app/main/default/flows/Timesheet_Repeater_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_values_to_Timesheet_record_and_add_to_collection</name>
        <label>Assign values to Timesheet record and add to collection</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Repeater.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>timesheetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimesheetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Repeater</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>TimesheetActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Activity__c</picklistField>
        <picklistObject>Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimesheetProject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project__c</picklistField>
        <picklistObject>Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimesheetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Timesheet Repeater Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Repeater Flow</label>
    <loops>
        <name>Loop_Through_Repeater</name>
        <label>Loop Through Repeater</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Timesheet_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Timesheet_record_and_add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Timesheet_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Timesheet_Records</name>
        <label>Create Timesheet Records</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>timesheetList</inputReference>
    </recordCreates>
    <screens>
        <name>Timesheet_Line_Items</name>
        <label>Timesheet Line Items</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Repeater</targetReference>
        </connector>
        <fields>
            <name>Timesheet_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Type</name>
                <choiceReferences>TimesheetType</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date</name>
                <dataType>Date</dataType>
                <fieldText>Date</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project</name>
                <choiceReferences>TimesheetProject</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Project</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Activity</name>
                <choiceReferences>TimesheetActivity</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Activity</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Duration</name>
                <dataType>Number</dataType>
                <fieldText>Duration</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Description</name>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Timesheet_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet__c</objectType>
    </variables>
    <variables>
        <name>TimesheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet__c</objectType>
    </variables>
</Flow>
